@use "bootstrap";
@use "./partials/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

main {
    background-color: variables.$color-bg-main;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}